html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  background: #000000;
  font-family: monospace;
  margin: 0;
  padding: 0;
  font-size: 13px;
  overflow: hidden;
}

i {
  color: white;
  text-transform: none;
}

.theme_color {
  color: white;
}

.theme_border_color {
  border-color: #00ff00;
}

.theme_bg_color {
  background: #00ff00;
}

.theme_fill_color {
  fill: #00ff00;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center > button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  font-size: 11px;
  border: none;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  background-color: #fff;
}

.text-center > button:hover {
  background-color: #535c68;
  box-shadow: 0px 15px 20px rgba(211, 198, 199, 0.473);
  color: #fff;
  transform: translateY(-7px);
}

input {
  color: white;
  border: none;
  background: transparent;
  border-bottom: 1px solid #00ff00;
  padding: 10px;
  font-size: 20px;
}

input:focus {
  outline: none;
}

pre {
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.display_content {
  text-align: center;
}

.main {
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 8px;
  padding-top: 8px;
}
